{% load static %}
<!DOCTYPE html>
<html>
<head>
<style>

body {
  background-color: lightblue;

}
.myDiv {
  border: 20px outset red;
  background-color: lightblue;    
  text-align: center;
  margin-top: 100px;
  width: 500px;
  height: 300px;
  margin-left: 500px;
}
.myDiv2 {
  
  background-color: pink;    
  text-align: center;
  font-style: oblique;
  
  width: 150px;
  height: 70px;
 margin-left: 700px;
 margin-top: 10px;
}
</style>
</head>
<body>




</body>

<div class="myDiv">

  <label for="fname">RIB</label><br>
  <input type="text" id="fname" name="fname"><br><br><br>
  <label for="start">Date début</label>
  <input type="date" id="debut" name="trip-start"><br><br><br>
  <label for="start">Date fin</label>
  <input type="date" id="fin" name="trip-start"><br><br><br>
  <button onclick="myFunction()">Encoder</button>
  
  </div>

<button onclick="myFunction2()" class="myDiv2">Decoder</button>

<script>
  function myFunction(){
    var x1 = document.getElementById("fname").value;
    var x2 = document.getElementById("debut").value;
    var x3 =document.getElementById("fin").value;


  window.open("json/"+x1+"/"+x2+"/"+x3)
  }

  function myFunction2(){
   
    location.replace("decode")
  }
</script>
</html>